
<h1><b><i>Upgrade to pro now and have unlimited usage</i></b></h1>
< <section class="pricing py-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
            <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li *ngFor="let temp of dataList">
              <span class="fa-li"><i class="fas fa-check">{{temp.feature}}</i></span></li>
                    
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Free subscription</a>
          </div>
        </div>
      </div>
    
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
            <h6 class="card-price text-center">$9<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li *ngFor="let temp1 of dataList1">
              <span class="fa-li"><i class="fas fa-check">{{temp1.feature}}</i></span></li>
              
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Plus Subscription</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
            <h6 class="card-price text-center">$49<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li *ngFor="let temp2 of dataList2">
              <span class="fa-li"><i class="fas fa-check">{{temp2.feature}}</i></span></li>
              
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Pro Subscription</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>